<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/lib/ui/aristo/jquery-wijmo.css">
    <link rel="stylesheet" href="/stylesheets/lib/ui/jquery.wijmo-complete.all.2.2.0.min.css">
    <link rel="stylesheet" href="/stylesheets/foundation.base.css">
    <link rel="stylesheet" href="/stylesheets/foundation.offcanvas.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/javascripts/lib/jquery-1.8.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/lib/knockout-2.1.0.min.js" type="text/javascript"></script>
    <script src="/javascripts/lib/angular-1.1.0.min.js" type="text/javascript"></script>
    <script src="/javascripts/lib/davis-0.9.4.min.js" type="text/javascript"></script>
    <script src="/javascripts/lib/modernizr-2.6.0.min.js" type="text/javascript"></script>
    <script src="/javascripts/lib/ui/jquery-ui-1.8.23.min.js" type="text/javascript"></script>
    <script src="/javascripts/lib/ui/highcharts-2.3.2.min.js" type="text/javascript"></script>
    <script src="/javascripts/lib/ui/preloadjs-0.2.0.min.js" type="text/javascript"></script>
    <script src="/javascripts/lib/ui/wijmo/jquery.wijmo-open.all.2.2.0.min.js" type="text/javascript"></script>
    <script src="/javascripts/lib/ui/wijmo/jquery.wijmo-complete.all.2.2.0.min.js" type="text/javascript"></script>
    <script src="/javascripts/lib/ui/wijmo/knockout.wijmo.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

<body id="page" class="off-canvas hide-extras">
  
  <!-- Header and Nav --> 
  <header>
    <div id="headerContainer" class="row">
      <div class="five columns mobile-four">
        <a href="/" name="#top"><div id="logo"></div></a>
        <a id="showSidebarButton" class="show-for-small" href="#sidebar">&gt;&gt;</a>
      </div>
      <nav id="headerMenu" role="navigation" class="seven columns hide-for-small">
        <ul>
          <li><a href="#">link one</a></li>
          <li><a href="#">link two</a></li>
          <li><a href="#">link three</a></li>
        </ul>
      </nav>

      <!--div id="headerEnd" class="one column mobile-one">
        <section role="user"><a href="#">login</a></section>
      <div-->
    </div>
  </header>
  <!-- End Header and Nav -->

  
  
  <!-- Start Main Container -->
  <div class="contentContainer top row">

    <!-- Start Mobile Sidebar -->
    <section id="sidebar" role="complementary">
      <nav id="sidebarMenu" role="navigation">
        <ul>
          <li><a href="#">link one</a></li>
          <li><a href="#">link two</a></li>
          <li><a href="#">link three</a></li>     
        </ul>                     
      </nav>
    </section>
    <!-- End Mobile Sidebar -->

    <section id="contentMain" class="twelve columns">

    </section>




  </div>
  <!-- End Main Container -->
  
</body>

<script type="text/javascript" src="/javascripts/lib/foundation/jquery.offcanvas.js"></script>
</html>

